h1{color: #AD8B73; text-align: center; background-color: #FFFBE9;font-family:"Jacques Francois Shadow",sans-serif ;}
h2{font-style: italic; text-align: center; color: #AD8B73; background-color:#FFFBE9 ;}
a{color: #FFFBE9;font-style: oblique ;}
body{background-color: #CEAB93;}
img{height: 120px;width: 120px; filter: grayscale(90);}


